<div class="about-root">
  <section class="about-content">
    <h2>About WhyCode.ai</h2>
    <p>
      Learning to code can be a challenging journey, especially when you encounter complex concepts or run into issues while working on projects. Sometimes, you may spend hours or even days trying to figure out a piece of code or a bug in your program. This is where WhyCode.ai comes in handy.
    </p>
    <p>
      WhyCode.ai is a one-stop solution for anyone who wants to learn how to code or improve their coding skills. With just a few clicks, you can submit any part of your code written in any programming language and receive an explanation of how it works within seconds. This feature is made possible through the use of OpenAI API, which ensures accurate and fast results.
    </p>
    <p>
      <a href="https://www.whycode.ai" target="_blank" rel="noopener">whycode.ai</a> was created by Anton Astremskyi, a developer with 10+ years of experience in tech and a passion for teaching and mentoring other developers on their way to improving coding skills or creating their own awesome projects.
    </p>
    <p>
      The website is continuously improving. If you have any suggestions or comments, please submit them to <a href="mailto:hello@whycode.ai">hello@whycode.ai</a>.
    </p>
  </section>
</div>
